{% extends 'base.html' %}
{% load static %}
{% block title %}Hello World!{% endblock %}
{% block head %}{% endblock %}
{% block body%}
    <div class="container" style="text-align: center; margin-top: 100px;">
        <h1>Hello World!</h1>
        <p>COVID-19 Starter App</p>
    </div>
{% endblock %}
